{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% load static %}
<style>
	#content {
		position: relative;
		top: 5vh;
		margin: auto;
		padding: 20px;
		width: 25%;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
		border-radius: 25px;
		background-color: grey;
	}

	select {
		margin: 5px;
	}
</style>
<body>
	<div id="content">
		<label for="part-type">Part Type: </label>
			<select id="part-type">
			</select><br>
		<label for="pn-start">Part Number Family: </label>
			<select id="pn-start">
			</select><br>
		<label for="pn-mid">Part Number Sub-Type</label>
			<select id="pn-mid">
			</select><br>
		<button id="btn-next-pn">Get Next Part Number</button>	
		<p id="cap"></p>


		<form id="part-number-frm" method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Add Part</button>
		</form>

		
	</div>

</body>
<script>
		var pnType = document.getElementById("part-type");
		var request = new XMLHttpRequest();
		var pnCap = document.getElementById("pn-start");
		var pnMid = document.getElementById("pn-mid");
		var btnGet = document.getElementById("btn-next-pn");
		var capTxt = document.getElementById("cap");
		var pn_desc = document.getElementById("id_part_description");
		var pn_box = document.getElementById("id_part_number");
		var form = document.getElementById("part-number-frm");
		
		if(!window.location.href.includes("part")){
			form.elements[6].disabled = true;
			console.log(window.location.href);
		} else {
			form.elements[6].disabled = false;
			console.log(window.location.href);
		};
		document.getElementById("id_part_number").setAttribute("readonly", "readonly");


		function addOption(optValue, optTxt, selectElem){
			var option = document.createElement("option");
			var optionTxt = document.createTextNode(optTxt);
			option.appendChild(optionTxt);
			option.value = optValue;
			selectElem.appendChild(option);

		}

		function updatePNText(){
			var first = pnCap.options[pnCap.selectedIndex].value
			var mid = pnMid.options[pnMid.selectedIndex].value
			var pn_txt = document.getElementById("id_part_number");
			capTxt.innerHTML = '';
			capTxt.innerHTML = first + '-' + mid + '-'
			var partial_pn = document.getElementById("cap").innerHTML;
			pn_txt.value = partial_pn;
		}
		
		request.onload = function () {
			if (request.status >= 200 && request.status < 300){
				var liftData = JSON.parse(request.responseText);
				for(let i = 0; i < liftData.Lifts.length; i++){
					addOption(liftData.Lifts[i], liftData.Lifts[i], pnType);
				}

				var data = pnType.options[pnType.selectedIndex].text;
				pnCap.options.length = 0;
				pnMid.options.length = 0;
				for(let j = 0; j < liftData[data].length; j++){
					addOption(liftData[data][j][0], liftData[data][j][1], pnCap);
				}

				for(let k = 0; k < liftData[data + "-Type"].length; k++){
					addOption(liftData[data + "-Type"][k][0], liftData[data + "-Type"][k][1], pnMid)
				}

				updatePNText()

				pnType.onchange = function () {
					var data = pnType.options[pnType.selectedIndex].text;
					pnCap.options.length = 0;
					pnMid.options.length = 0;
					for(let j = 0; j < liftData[data].length; j++){
						addOption(liftData[data][j][0], liftData[data][j][1], pnCap);
					}

					for(let k = 0; k < liftData[data + "-Type"].length; k++){
						addOption(liftData[data + "-Type"][k][0], liftData[data + "-Type"][k][1], pnMid)
					}

					updatePNText();
					checkPN();
				}


				pnCap.onchange = function() {
					updatePNText();
					checkPN();
				}

				pnMid.onchange = function() {
					updatePNText()
					checkPN();
				}

			}
			
		
		}


		request.open("GET", "{{ STATIC_URL }}/static/javascript/part_number_data.json");
		request.send();

		btnGet.onclick = function() {
			
			
			var FD = new FormData(document.getElementById('part-number-frm'));
			
			var part_request = new XMLHttpRequest();

			part_request.onload = function(){
				var pn_txt = document.getElementById("id_part_number");

				var pnArray = part_request.response.split("-");
				var pnEnd = pnArray[pnArray.length - 1];
				if(pnEnd.length < 4){
					capTxt.innerHTML = "";
					capTxt.innerHTML = part_request.response;
					pn_txt.value = "";
					pn_txt.value = part_request.response;
					checkPN();
				}else{
					window.alert(cap.innerHTML + " series has reached its maximum, please select different series")
				}
				//console.log(part_request.response);
			}

			part_request.onerror = function(){
				alert('Unknown Problem');
			}

			part_request.open('POST', '/parts/spRequest/');
			part_request.send(FD);
		}

		 function checkPN() {
			var reMobile = new RegExp("MP\\-\\d{4,4}\\-[A,W,P]\\-\\d{3,3}", "g");
			var rePara = new RegExp("P\\-\\d{3,4}\\-[A,W,P]\\-\\d{3,3}", "g");
			var reGeneral = new RegExp("\\d{3,3}\\-\\d{3,3}\\-\\d{3,3}", "g");
			var form = document.getElementById("part-number-frm");
			
			console.log("in Check PN");
			var result = reMobile.test(capTxt.innerHTML) || rePara.test(capTxt.innerHTML) || reGeneral.test(capTxt.innerHTML);
			form.elements[6].disabled = !result;
		};

		function checkDesc(){
			var desc = document.getElementById("id_part_description").value;
			var reDesc = new RegExp(".{0,}[\\?!]{1,}", "g");
			var result = reDesc.test(desc);
			form.elements[6].disabled = result;
			if(result){
				alert("Descriptions cannot contain '?' or '!'");
			};
			console.log("in here");
			console.log(desc);
			console.log(result);
		};

		var input_Desc = document.getElementById("id_part_description");
		input_Desc.onchange = function(){
			checkDesc();

		};

</script>

 {% else %}
  {% include 'redirect.html' %}
 {% endif %}
{% endblock %}



