{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% load static %}
    <body>
        <div id="container">
            <div id="tbl-container" class="tables-div">
            	<table id="series-table">
            		<tr>
            			<td>Part Series: </td>
            			<td><input type="text"></td>
            		</tr>
                </table>
                <table id="series-pre">
            		<tr>
            			<td>Part Series Pre-Fix:Value</td>
            			<td><input type="text" class="pre-fix"></td>
            			<td><input type="text" class="pre-value"></td>
            		</tr>
                </table>
                <table id="series-mid">
                    <tr>
                        <td>Part Series Mid-Class:Value</td>
                        <td><input type="text" class="mid-fix"></td>
                        <td><input type="text" class="mid-value"></td>
                    </tr>
            	</table>
            </div>
        </div>  
    	<button id="addBtn">Add Row Pre</button>
        <button id="addBtn-mid">Add Row Mid</button>
        <button id="addBtn-part">Add New Series</button>
        <button id="update">Update</button>
        <button id="sendBtn">Send it!</button>
    </body>
  
        <script>
        	var midTable = document.getElementById("series-mid");
            var preTable = document.getElementById("series-pre");
        	var btn = document.getElementById("addBtn");
            var midbtn = document.getElementById("addBtn-mid");
            var sBtn = document.getElementById("addBtn-part");
            var uBtn = document.getElementById("update");
            var sendBtn = document.getElementById("sendBtn");
        	


            function addPrefixRow(values, partClass){
                var myDiv = document.getElementById("tbl-container-" + partClass);
                var preTable = myDiv.querySelector('#series-pre');
                var row = preTable.insertRow(-1);
                var textCell = row.insertCell(0);
                var preCell = row.insertCell(1);
                var vluCell = row.insertCell(2);

                textCell.innerHTML = 'Part Series Pre-Fix:Value';
                preCell.innerHTML = '<input type="text" class="pre-fix">';
                vluCell.innerHTML = '<input type="text" class="pre-value">';
                var preTxt = preCell.getElementsByTagName("input")[0];
                var vluTxt = vluCell.getElementsByTagName("input")[0];
                preTxt.value = values[0];
                vluTxt.value = values[1];
            }

            function addMidRow(values, partClass){
                var myDiv = document.getElementById("tbl-container-" + partClass.slice(0,-5));
                var midTable = myDiv.querySelector('#series-mid');
                var row = midTable.insertRow(-1);
                var textCell = row.insertCell(0);
                var preCell = row.insertCell(1);
                var vluCell = row.insertCell(2);

                textCell.innerHTML = 'Part Series Mid-Class:Value;';
                preCell.innerHTML = '<input type="text" class="mid-fix">';
                vluCell.innerHTML = '<input type="text" class="mid-value">';
                var preTxt = preCell.getElementsByTagName("input")[0];
                var vluTxt = vluCell.getElementsByTagName("input")[0];
                preTxt.value = values[0];
                vluTxt.value = values[1];
            }

            function addSeries(values){
                var container = document.getElementById("container");
                var tbls = document.getElementById("tbl-container");
                var newTbles = tbls.cloneNode(true);
                newTbles.id = newTbles.id + '-' + values[0];
                container.appendChild(newTbles);
                var nsTxt = newTbles.getElementsByTagName("input")[0];
                nsTxt.value = values[0];
                
            }

            var request = new XMLHttpRequest();

            request.onload = function(){
                if (request.status >= 200 && request.status < 300){
                    var currSeries = JSON.parse(request.responseText);
                    console.log(currSeries);
                    for(let [key, value] of Object.entries(currSeries)){
                        if(key == "Lifts"){
                            for(var i = 0; i < value.length; i++){
                                addSeries([value[i]]);
                            }
                        }else{
                            if(key.includes("-Type")){

                                for(var l = 0; l < value.length; l++){
                                    addMidRow(value[l], key);
                                }

                            }else{
        
                                for(var k = 0; k < value.length; k++){
                                    addPrefixRow(value[k], key);
                                }
                            }
                            
                        }
                    }
                }
                else {
                    console.log(request.status)
                }
            };

            request.open("GET", "{{ STATIC_URL }}/static/javascript/part_number_data.json");
            request.send();
            var updatedPN = {};

            function updateSeries(){
                var divs = document.getElementsByClassName("tables-div");
                // var updatedPN = {};
                var lifts = [];
                for(var j = 0; j < divs.length; j++){
                    var tbls = divs[j].querySelector('table');
                    var iptVlu = tbls.querySelector('input');
                    
                    if(iptVlu.value != ''){
                        lifts.push(iptVlu.value);
                        var preFixes = divs[j].querySelector('#series-pre');
                        var typeClass = divs[j].querySelector('#series-mid');
                        var arrOfArr = [];
                        for(var s = 0; s < preFixes.rows.length; s++ ){
                            var vlu = preFixes.rows[s].cells[1].querySelector('input').value;
                            var txt = preFixes.rows[s].cells[2].querySelector('input').value;
                            if(vlu != ''){
                                var pfArry = [vlu, txt];
                                arrOfArr.push(pfArry);
                            };
                        }

                        updatedPN[iptVlu.value] = arrOfArr;
                        // lifts.push(iptVlu.value + "-Type");
                        var arrTofArr = [];
                        for(var z = 0; z < typeClass.rows.length; z++){
                            var tVlu = typeClass.rows[z].cells[1].querySelector('input').value;
                            var tTxt = typeClass.rows[z].cells[2].querySelector('input').value;
                            if(tVlu != ''){
                                var midArry = [tVlu, tTxt];
                                arrTofArr.push(midArry);
                            };
                        }
                        updatedPN[iptVlu.value + "-Type"] = arrTofArr;
                    };
                    updatedPN.Lifts = lifts;

                };
                console.log(updatedPN);
            };

            btn.onclick = function(){
                addPrefixRow(['','']);
        	};

            midbtn.onclick = function(){
                addMidRow(['','']);
            };

            sBtn.onclick = function(){
                addSeries(['','']);
            };

            uBtn.onclick = function(){
                updateSeries();
            };

            function getCookie(name){
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            sendBtn.onclick =function(){
                var xhr = new XMLHttpRequest();
                var url = "/parts/util/add_series/";
                var csrftoken = getCookie('csrftoken');

                xhr.open("POST", url, true);

                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("X-CSRFToken", csrftoken);

                xhr.onreadystatechange = function (){
                    if(xhr.readyState === 4 && xhr.status === 200){
                        console.log(this.responseText);
                        console.log(data);
                    }
                };

                var data = JSON.stringify(updatedPN);
                xhr.send(data);
            }

        </script>
        
    {% else %}
    {% include 'redirect.html' %}
  {% endif %}
{% endblock %}