{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% load static %}

<body>
	<label for="part-type">Part Type: </label>
		<select id="part-type">
		</select><br>
	<label for="pn-start">Part Number Family: </label>
		<select id="pn-start">
		</select><br>
	<label for="pn-mid">Part Number Sub-Type</label>
		<select id="pn-mid">
		</select><br>

	<p id="cap"></p>

</body>
<script>
		var pnType = document.getElementById("part-type");
		var request = new XMLHttpRequest();
		var pnCap = document.getElementById("pn-start");
		var pnMid = document.getElementById("pn-mid");
		//var pnSeq = document.getElementById("pn-seq");
		var capTxt = document.getElementById("cap")
		//var liftData


		function addOption(optValue, optTxt, selectElem){
			var option = document.createElement("option");
			var optionTxt = document.createTextNode(optTxt);
			option.appendChild(optionTxt);
			option.value = optValue;
			selectElem.appendChild(option);

		}

		function updatePNText(){
			var first = pnCap.options[pnCap.selectedIndex].value
			var mid = pnMid.options[pnMid.selectedIndex].value
			capTxt.innerHTML = '';
			capTxt.innerHTML = first + '-' + mid + '-'
		}
		
		request.onload = function () {
			if (request.status >= 200 && request.status < 300){
				var liftData = JSON.parse(request.responseText);
				for(let i = 0; i < liftData.Lifts.length; i++){
					addOption(liftData.Lifts[i], liftData.Lifts[i], pnType);
				}

				pnType.onchange = function () {
					var data = pnType.options[pnType.selectedIndex].text;
					pnCap.options.length = 0;
					pnMid.options.length = 0;
					for(let j = 0; j < liftData[data].length; j++){
						addOption(liftData[data][j][0], liftData[data][j][1], pnCap);
					}

					for(let k = 0; k < liftData[data + "-Type"].length; k++){
						addOption(liftData[data + "-Type"][k][0], liftData[data + "-Type"][k][1], pnMid)
					}

					updatePNText()
				}

				pnCap.onchange = function() {
					updatePNText();
				}

				pnMid.onchange = function() {
					updatePNText()
				}

			}
			
		
		}


		request.open("GET", "http://localhost:8000/static/javascript/part_number_data.json");
		request.send();

</script>

 {% else %}
  {% include 'redirect.html' %}
 {% endif %}
{% endblock %}