
{% extends 'base.html' %}
{% block content %}
{% load static %}
  {% if user.is_authenticated %}

  <style>
    .row {
      display: flex;
    }

    .side-by-side {
      flex: 50%;
    }
  </style>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.media }}
      <!-- {{ form.as_p }} -->
      {{ form.non_field_errors }}
      <div id="top">
        <div class="fieldWrapper">
          {{ form.engineer.errors }}
          <label id="engineerLBL" for="{{ form.engineer.id_for_label }}">Owner: </label>
          {{ form.engineer }}
        </div>
        <div class="fieldWrapper">
          {{ form.status.errors }}
          <label for="{{ form.status.id_for_label }}">Status: </label>
          {{ form.status }}
        </div>
        <div class="fieldWrapper">
          {{ form.ecr_disposition.errors }}
          <label for="{{ form.ecr_disposition.id_for_label }}">Disposition: </label>
          {{ form.ecr_disposition }}
        </div>
      </div>
      <div class="row">
        <div class="side-by-side" id="left">
          <div class="fieldWrapper" id="parts">
            {{ form.part_numbers.errors }}
            <label id="partsLBL" for="{{ form.part_numbers.id_for_label }}">Affected Parts</label>
            {{ form.part_numbers }}
          </div>
        </div>
        <div class="side-by-side" id="right">
          <div class="fieldWrapper">
            {{ form.ecr_title.errors }}
            <label id="titleLBL" for="{{ form.ecr_title.id_for_label }}">ECR Title: </label>
            {{ form.ecr_title }}
          </div>
          <div class="fieldWrapper" id="description">
            {{ form.description.errors }}
            <label for="{{ form.description.id_for_label }}" style="display: block;" >Description: </label>
            {{ form.description }}
          </div>
        </div>
      </div>




      <button type="submit">Save ECR</button>
    </form>
    <script type="text/javascript" src="{% static "javascript/rules.js" %}"></script>
  {% else %}
    {% include 'redirect.html' %}>
  {% endif %}
{% endblock %}
