{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href= "{% static "css/ecr_list.css" %}">
{% if user.is_authenticated %}
<!-- <div>
  <h2>Parts Created:</h2>
    {% if parts %}
    <table>
      <tr>
        <th>Part Number</th>
        <th>Description</th>
      </tr>
      {% for part in parts %}
        <tr>
          <td>{{ part.part_number }}</td>
          <td>{{ part.part_description }}</td>
          <td><a class="button" href="{% url 'part_summary' part.part_number %}">View </a><a class="button" href="">Edit</a></td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      No Parts
    {% endif %}
</div> -->
<div>
  
  <h2>ECRs Assigned:</h2>
  <table>
    <tr>
      <th>ECR</th>
      <th>Title</th>
      <th>Created Date</th>
      <th>Created By</th>
      <th>Status</th>
    </tr>
    {% for ecr in ecrs %}
    <tr>
      <td class="cell">ECR{{ ecr.ECR_number }}</td>    
      <td class="cell">{{ ecr.ecr_title }}</td>
      <td class="cell">{{ ecr.create_date }}</td>
      <td class="cell">{{ ecr.initiated_by.last_name}}, {{ ecr.initiated_by.first_name }}</td>
      <td class="cell">{{ ecr.get_status_display }}</td>
      <td class="cell"><a class="button" href="{% url 'ecr_detail' ecr.ECR_number %}">View</a><a class="button" href="{% url 'ecr_edit' ecr.ECR_number %}">Edit</a></td>
    </tr>
    {% endfor %}
    </table>
</div>

{% else %}
   {% include 'redirect.html' %}
{% endif %}

{% endblock %}
