{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<link rel="stylesheet" href= "{% static "css/detail.css" %}">
    <h1>ECO{{ eco.ECO_number }} - {{ eco.eco_title }} </h1> 
    <div id="hk-data">
      <span>Due: {{ eco.deadline }}</span><br>
      <span>Status: {{ eco.get_oa_status_display }}</span><br>
      <span>Created on: {{ eco.create_date }}</span><br>
      <span>By: {{ eco.initiated_by.last_name }}, {{ eco.initiated_by.first_name }}</span><br>
      <span>Related ECR: <a class="button" href="{% url 'ecr_detail' eco.ECR_number %}">ECR{{ eco.ECR_number }}</a></span><br>
      <span>Responsible Engineer: {{ eco.engineer.last_name }}, {{ eco.engineer.first_name }}</span> <br>
    </div>
    <div class="title">
      <h2>Affected Parts</h2>
      <div class="data">

        <table>
          <tr>
            <th>Part Number</th>
            <th>Description</th>
            <th>Revision</th>
          </tr>
          {% for part in eco.part_numbers.all %}
          <tr>
            <td><a class="button" href="{% url 'part_summary' part.part_number %}">{{ part.part_number }}</a> 
            </td>
            <td>{{ part.part_description }}</td>
            <td><a class="button" href="{% url 'add_rev' part.part_number eco.ECO_number %}" target="_blank">Revise Drawing</a></td>
          </tr>
          {% endfor %}
          
      </table>
      </div>
    </div>

    <div class="title">
      <h2>Affected Product</h2>
      <div class="data">
        {{ eco.product }}<br>
      </div>
    </div>
    <div class="title">
      <h2>Change or Improvements</h2>
      <div class="data">
        {{ eco.change }}
      </div>
    </div>
    <div class="title">
      <h2>Justification</h2>
      <div class="data">
        {{ eco.reason }}
      </div>
    </div>


    <table>
      <tr>
        <th>Item</th>
        <th>Sign Off</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td>Go</td>
        <td>{{ eco.go }}</td>
        <td>{{ eco.get_go_status_display }}</td>
        <td>{{ eco.go_notes }}</td>
      </tr>
      <tr>
        <td>Test</td>
        <td>{{ eco.test }}</td>
        <td>{{ eco.get_test_status_display }}</td>
        <td>{{ eco.test_notes }}</td>
      </tr>
      <tr>
        <td>Calculations</td>
        <td>{{ eco.calcs }}</td>
        <td>{{ eco.get_calcs_status_display }}</td>
        <td>{{ eco.calcs_notes }}</td>
      </tr>
      <tr>
        <td>Archive</td>
        <td>{{ eco.archive }}</td>
        <td>{{ eco.get_archive_status_display }}</td>
        <td>{{ eco.archive_notes }}</td>
      </tr>
      <tr>
        <td>Part</td>
        <td>{{ eco.part }}</td>
        <td>{{ eco.get_part_status_display }}</td>
        <td>{{ eco.part_notes }}</td>
      </tr>
      <tr>
        <td>Drawings</td>
        <td>{{ eco.drawings }}</td>
        <td>{{ eco.get_drawings_status_display }}</td>
        <td>{{ eco.drawings_notes }}</td>
      </tr>
      <tr>
        <td>Jigs</td>
        <td>{{ eco.jigs }}</td>
        <td>{{ eco.get_jigs_status_display }}</td>
        <td>{{ eco.jigs_notes }}</td>
      </tr>
      <tr>
        <td>Patterns</td>
        <td>{{ eco.patterns }}</td>
        <td>{{ eco.get_patterns_status_display }}</td>
        <td>{{ eco.patterns_notes }}</td>
      </tr>
    </table>
<a class="button" href="{% url 'eco_detail' eco.ECO_number|add:"-1" %}">Prev</a> <a class="button next" href="{% url 'eco_detail' eco.ECO_number|add:"1" %}">Next</a>

{% else %}
 {% include 'redirect.html' %}
{% endif %}
{% endblock %}
