{% extends 'base.html' %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
    <link rel="stylesheet" href= "{% static "css/detail.css" %}">
    <style>
      textarea {
        width: 100%;
      }

      p {
        width: 100%;
        padding: 20px;
        margin: auto; 
      }
      form {
        width: 100%;
        margin: auto;

      }
      td {
        padding: 0 10px 0 10px;
      }
    </style>
    <h1><a href="{% url 'ecr_edit' ecr.ECR_number %}"> ECR{{ ecr.ECR_number }}: </a> {{ ecr.ecr_title }}  -  {{ ecr.get_status_display }}</h1>
    Created on: {{ ecr.create_date }}<br>
    By: {{ ecr.initiated_by.first_name }} {{ ecr.initiated_by.last_name }}<br>
    Current Owner: {{ ecr.engineer.first_name }} {{ ecr.engineer.last_name }}
    <form method="POST">
      {% csrf_token %}
      <div class="fieldWrapper">
            {{ ECRForm.engineer.errors }}
            <label id="engineerLBL" for="{{ ECRForm.engineer.id_for_label }}">New Owner: </label>
            {{ ECRForm.engineer }}
      </div>
      <div class="fieldWrapper">
            {{ ECRForm.Status.errors }}
            <label id="statusLBL" for="{{ ECRForm.status.id_for_label }}">Updated Status: </label>
            {{ ECRForm.status }}
      </div>
      <button type="submit" name="update">Update</button>
    </form>
    <div class="title">
      <h2>Affected Parts</h2>
      <div class="data">
        {% for part in ecr.part_numbers.all %}
          <a href="/part/?part={{ part.part_number }}">{{ part.part_number }}: {{ part.part_description }}</a><br>
        {% endfor %}<br>
      </div>
    </div>
    <div class="title">
      <h2>Description of Concern/Improvement</h2>
      <div class="data">
        {{ ecr.description }}
      </div>
    </div>

    <div class="title">
      
      <div class="data">
        {% if notes %}
        <table>
          <caption><h2>Notes</h2></caption>
          <tr>
            <th>Date</th>
            <th>Note</th>
            <th>Author</th>
          </tr>
            {% for note in notes %}
              <tr> 
                <td style="white-space: nowrap;">{{ note.create_date }}</td>
                <td style="word-wrap: break-word;">{{ note.content }}</td>
                <td>{{ note.author.first_name }} {{ note.author.last_name }} </td>
              </tr>
            {% endfor %}
          </table>
          {% else %}
            <h2>No Notes</h2>
          {% endif %}
          <form id="part-number-frm" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="add_note">Add Note</button>
          </form>
        

      </div>
      <div>
        {% for attachment in attachments %}
          {{ attachment.title }}
          {{ attachment.file }}
        {% endfor %}
      </div>
    </div>

<a href="{% url 'ecr_detail' ecr.ECR_number|add:"-1" %}">Prev</a> <a href="{% url 'ecr_detail' ecr.ECR_number|add:"1" %}">Next</a>
{% else %}
   {% include 'redirect.html' %}
{% endif %}

{% endblock %}
